* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.air__navigation {
    display: flex;
    justify-content: space-evenly;
}
li {
    list-style-type: none;
    cursor: pointer;
}

li:hover {
    color:aqua;
}

#flightTable {
    text-align: center;
    background-color: aquamarine;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(92, 7, 7);
}